
body{
background-color: rgb(110, 159, 159);
display: block;
position: fixed;

}
.div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 130px;
}

.div img{
    filter: saturate(0%);
    width: 50px;
    height: 450px;
    object-fit: cover;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    cursor: pointer;
}
.div img:hover{
    filter: saturate(100%);
    width: 650px;
    transition:all ease 0.4s;
}